extends ../base
    
block content 
    ul.n1s2 
        li
            div 모델명
            div=pump.name
        li 
            div 업체명
            div=pump.user 
        li 
            div 모터
            div=pump.motor 
        li 
            div 코팅
            div=pump.coating 
        li 
            div 생산부서
            div=pump.department
        li 
            div 국내 / 해외
            div=pump.domestic
        li 
            div 버전
            div=pump.version 
        
    .button__home--horizontal
        a(href=`${pump.id}/edit`).button--big.button--big--restricted 수정하기 &rarr;

        a(href=`/plans/${pump.id}/register`).button--big.button--big--restricted 출고계획<br>등록하기&rarr;

    .pumpView__history 
            
