extends ../base

block content 
    h1 모델명:#{pump.name}
    span 무부하 유량:#{pump.flowRate}Lpm
    br
    span 종류:#{pump.operation}
    br
    span 사용업체:#{pump.user}
    hr
    a(href=`${pump.id}/edit`) 수정하기&rarr;
    br
    //-a(href=`${pump.id}/delete`) 삭제하기&rarr;
    span 삭제하기 (불가예정)&rarr;
    br
    a(href=`/plans/${pump.id}/register`) 출고계획 등록하기&rarr;
        