mixin plan(info)
    a(href=`/plans/${info.id}`).planMixin__container
        div.planMixin__container__user
            span=info.model.user

        div.planMixin__container__model
            span=info.model.name 
            span /
            span=info.model.coating 
            span /
            span=info.model.motor 
            span -
            span #{info.quantity}대
        
        div.planMixin__container__date
            span 생산예정: #{info.planned_manufacturing_date} / 출고예정: #{info.planned_outbound_date}