extends ../base

block content 
    form.s1n2.userEdit(method="POST",enctype="multipart/form-data",data-user=user)
        div
            label(for="avatar") 사진
            if (user.avatar=="static/statics/defaultProfile.jpeg") 
                div.userEdit__avatar__default.userEdit__avatar
                    img(src=`/static/statics/defaultProfile.jpeg`)
                    span 기본사진 입니다

            else
                div.userEdit__avatar
                    img(src=`/${user.avatar}`)
                div.button--small.userEdit__avatar__gotoDefault 기본사진으로 &rarr;
            
            input(id="avatar",name="avatar",type="file",accept="image/*")
            input(name="avatarDefault",type=text).invisible
        
        div 
            label(for="name3") 이름 (필수)
            input(value=user.name,required,id="name3",name="name3",type="text")
        div 
            label(for="grade") 직급 (필수)
            select(required,id="grade",name="grade")
                option(value="사장") 사장
                option(value="부장") 부장
                option(value="차장") 차장
                option(value="과장") 과장
                option(value="대리") 대리
                option(value="주임") 주임
                option(value="사원") 사원
                option(value="아르바이트") 아르바이트        
                
        div 
            label(for="department") 부서 (필수)
            select(required,id="department",name="department")
                option(value="생산부-미니") 생산부-미니
                option(value="생산부-대형") 생산부-대형
                option(value="생산부-다이아프램") 생산부-다이아프램
                option(value="통합관리부") 통합관리부
                option(value="연구부") 연구부
                option(value="영업부-국내") 영업부-국내
                option(value="영업부-해외") 영업부-해외
        
        div 
            label(for="email") email
            input(value=user.email,id="email",name="email",type="email")
        div 
            label(for="mobile") 휴대폰 전화번호 (필수)
            input(value=user.mobile,required,id="mobile",name="mobile",type="tel",list="def")
        div
            label(for="birthDay") 생일 (4자리 입력)
            input(value=user.birthDay,id="birthDay",minlength="4",maxlength="4",name="birthDay",type="text")
        div
            div 생산/출고 계획 수립권한 (계획 등록/편집) (필수)
            div 
                input(id="permission_plan_true",name="permission_plan",type="radio",value="true")       
                label(for="permission_plan_true") 허용
                input(checked,id="permission_plan_false",name="permission_plan",type="radio",value="false")       
                label(for="permission_plan_false") 허용하지 않음
        div 
            div 직원 관리권한 (직원 등록/편집) (필수)
            div 
                input(id="permission_user_true",name="permission_user",type="radio",value="true")       
                label(for="permission_user_true") 허용
                input(checked,id="permission_user_false",name="permission_user",type="radio",value="false")       
                label(for="permission_user_false") 허용하지 않음

        input(type="submit",value="등록하기")
        
    script(src="/static/dynamics/js/userEdit.js") 


