extends ../base

block content 

    form.s1n2(method="POST",action=`/plans/${plan._id}/done2`)
        div    
            span 대표사진 1장을 선택해주세요
        div
            each file in plan.file_Paths
                div
                    label(for=file).blueBox--big--black
                        img(src=`/${file}`, width="auto",height="100px")
                        input(type="radio",name="mainPic",value=file,id=file)
        input(type="submit",value="제출하기")
    script(src="/static/dynamics/js/button__blueBox.js") 