extends ../base
include ../mixins/pumpMixin

block content
    .planView__pumpInfo 
        +pump(plan.model)
        
    ul.n1s2
        li 
            div 현재상태 
            div #{plan.status}
        li 
            div 승인번호 
            div #{plan.approved_id}
        li 
            div 수량 
            div #{plan.quantity}

        li 
            div 주문일 
            div #{plan.ordered_date.toLocaleDateString('ko-KR')}
        li 
            div 예정 생산일 
            div #{plan.planned_manufacturing_date.toLocaleDateString('ko-KR')}
        li 
            div 실제 생산일
            if (plan.manufacturing_date) 
                div #{plan.manufacturing_date.toLocaleDateString('ko-KR')}
            else
                div 미생산 제품
        li 
            div 예정 출고일 
            div #{plan.planned_outbound_date.toLocaleDateString('ko-KR')}
        li 
            div 실제 출고일 
            if (plan.outbound_date) 
                div #{plan.outbound_date.toLocaleDateString('ko-KR')}
            else 
                div 미출고 제품

        li 
            div 생산 담당부서 
            div #{plan.manufacturing_department}
        li 
            div 제작 참여직원 
            if (plan.status!="wait") 
                div #{plan.member}
            else 
                div 미생산 제품
        li 
            div 포장 
            div #{plan.packaging}
        li 
            div 간단한 기록사항 
            if (plan.memo)
                div=plan.memo 
            else 
                div 기록사항 없음

    div.button__home--horizontal
        if (loggedInUser.permission_plan)
            a(href=`/plans/${plan._id}/edit`).button--big.button--big--restricted 수정하기 &rarr; 

        if (plan.status=="wait")
            a(href=`/plans/${plan._id}/done`).button--big.button--big--restricted 제작완료<br>하기 &rarr; 
        
        if (loggedInUser.permission_plan&&plan.status=="done")
            a(href=`/plans/${plan._id}/done`).button--big.button--big--restricted 고객사로<br>출고하기 &rarr; 
    
    if plan.file_thumbnail
        .planView__pictures 
            span.header--small 대표사진
            img(src="/"+plan.file_thumbnail)
        .planView__pictures 
            span.header--small 사진
            each path in plan.file_Paths
                img(src="/"+path)
    
    .planView__history 